In [1]:
"""BMI 6018 Fall 2022 

Instructions: For this assignment, please return all answers as variables in your
.py file. You will quickly note that you will need to find answers outside the
class lectures. This is not an accident! You will need to become professionally
comfortable with looking things up via the python docs and google. 

Ensure that all variables are labelled according to the example. IE the answer
to problem 1 part c should be labelled one_c. While all questions are answerable
with a single line of code, you are free to use helper variables so long as they
are helpfully/informatively named. 

I should be able to open your .py file and run it without errors. I will **not** be 
debugging your code for you. If your file does not run, it will **not** be graded. 
If you are unsure if your file will run, open up a chpc terminal and test it there.

For this assignment, please only use base python files types. That is: there 
should be no import calls in your file save my use of sys at the end.

Example Problem

0.a Create a list of strings
0.b Using a str method, capitalize one of the elements in the list using a slice
0.c Coerce one character of the list to display as a hex

zero_a = ['first','second','third','fourth','fifth']
zero_b = zero_a[1].upper()
zero_c = hex(ord(zero_a[1][1]))

#Problem 1: Lists, Sets and Coersion

1.a Create a list of integers no fewer than 10 items from 0 to 9.
 .b Add 3 to the 5th indexed element
 .c Coerce all elements in the list to floats using list comprehension
 .d Coerce the list to a set
 .e Using a method, append int 10 to the set
 .f Using a method, pop an item from the set
 .g Using a length counting function, count the number of items in the set
 .h Check if the number of items in the set is the same as the 
    number of items in the list
 .i Coerce the set to a list and use the "+" operator combine the list to the list from 1.a
 .j Coerce 1.i to a set
 .k Count the number of elements in the 1.j



Problem 2: Dictionary woes

2.a Combine the three sample dictionaries (given below) into a nested dictionary (nested in programming means joined), named 
    two_a, ensure the key names are the same as the dictionary names.
 .b Using keys, retrieve the Dango's name from 2.a
 .c Using keys, update the value of Mochi's year to 2018. This should not be a variable
    and should simply update 2.a.
 .d Manually create a dictionary that has a single level and contains each patient
    as the key and the year as the value. Set Mochi's year to 2019.'
 .e Coerce the keys of 2.d into a list
 .f Coerce the values of 2.d into a list
 .g Use the zip function to combine 2.e and 2.f into a dictionary again


two_patient_dictionary_kinoko = {
  "name" : "Kinoko",
  "year" : 2021
}
two_patient_dictionary_dango = {
  "name" : "Dango",
  "year" : 2019
}
two_patient_dictionary_mochi  = {
  "name" : "Mochi",
  "year" : 2020
}



Problem 3: Set combinations

Given the predefined sets below and using set methods
3.a Is set E a subset of set A
 .b Is set E a strict subset of set A
 .c Create a set that is the intersection of set A and set B
 .d Create a set that is the union of sets C, D and E
 .e add 9 to the set
 .f Using == compare this set to the list in one_a
 .g Explain why they are not the same. What would you need to change if you
    wanted this to be True?
 

three_setA = {1,2,3,4,5}
three_setB = {2,3,4,5,6}
three_setC = {3,5,7,9}
three_setD = {2,4,6,8}
three_setE = {1,2,3,4}



Problem 4: Changing variable types

For each step you will modify a variable, then append the type of the variable
to a list. Do not recreate the list variable, it should be a running list of 
types.

4.a Create a variable of type int with the value of 8
 .b Create an empty list 
 .c Using type(), add the type of 4.a to this list
 .d Add 0.39 to 4.c
 .e append the type of 0.39 to the list
 .f exponentiate to the -10, ie: 4.d^-10,(hint: there might be an artihmetic operator to do so) round it to no 
    decimal places, and append to list.
 .g append the type to the list
 
 
Problem 5: More variable type changes

Continue from where you left off in Problem 4.

5.a Manually create a dictionary where the values are items in the list from where we left in 
    problem 4, and the keys should be their index in the list. Print the dictionary.
 .b Add 300 and coerce it into a string
 .c append the type to the list
 .d slice the string up to the 2nd element
 .e append the type to the list
 .f use list comprehension to convert this into a new list of integers
 .g append the type to the list
 .h append the type of three_setA to the list
"""

#Start your assignment here
print("Assignment 3")

Assignment 3

## Problem 1: Lists, Sets and Coersion

- .a Create a list of integers no fewer than 10 items from 0 to 9.

In [2]:
one_a = list(range(10))
print(one_a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- .b Add 3 to the 5th indexed element

In [3]:
one_b = one_a.copy()
one_b.insert(5, 3)
print(one_b)

[0, 1, 2, 3, 4, 3, 5, 6, 7, 8, 9]

- .c Coerce all elements in the list to floats using list comprehension

In [4]:
one_c = [float(x) for x in one_b]
print(one_c)

[0.0, 1.0, 2.0, 3.0, 4.0, 3.0, 5.0, 6.0, 7.0, 8.0, 9.0]

- .d Coerce the list to a set

In [5]:
one_d = set(one_c)
print(one_d)

{0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0}

- .e Using a method, append int 10 to the set

In [6]:
one_e = one_d.copy()
one_e.add(10)
print(one_e)

{0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10}

- .f Using a method, pop an item from the set

In [7]:
one_f = one_e.copy()
one_f.pop()
print(one_f)

{1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10}

- .g Using a length counting function, count the number of items in the set

In [8]:
one_g = len(one_f)
print(one_g)

10

- .h Check if the number of items in the set is the same as the number of items in the list

In [9]:
one_h = one_g == len(one_c)
print(one_h)

False

- .i Coerce the set to a list and use the "+" operator combine the list to the list from 1.a

In [10]:
one_i = list(one_f) + one_a
print(one_i)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- .j Coerce 1.i to a set

In [11]:
one_j = set(one_i)
print(one_j)

{0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10}

- .k Count the number of elements in the 1.j

In [12]:
one_k = len(one_j)
print(one_k)

11

## Problem 2: Dictionary woes

- .a Combine the three sample dictionaries (given below) into a nested dictionary (nested in programming means joined), named 
    two_a, ensure the key names are the same as the dictionary names.
    
- two_patient_dictionary_kinoko = {
  "name" : "Kinoko",
  "year" : 2021
}
- two_patient_dictionary_dango = {
  "name" : "Dango",
  "year" : 2019
}
- two_patient_dictionary_mochi  = {
  "name" : "Mochi",
  "year" : 2020
}

In [13]:
two_a = {
      "two_patient_dictionary_kinoko": {
      "name" : "Kinoko",
      "year" : 2021
    },
      "two_patient_dictionary_dango": {
      "name" : "Dango",
      "year" : 2019
    },
      "two_patient_dictionary_mochi": {
      "name" : "Mochi",
      "year" : 2020
    }
}

- .b Using keys, retrieve the Dango's name from 2.a

In [14]:
two_b = two_a["two_patient_dictionary_dango"]["name"]
print(two_b)

Dango

- .c Using keys, update the value of Mochi's year to 2018. This should not be a variable
    and should simply update 2.a.

In [15]:
two_a["two_patient_dictionary_mochi"]["year"] = 2018
print(two_a)

{'two_patient_dictionary_kinoko': {'name': 'Kinoko', 'year': 2021}, 'two_patient_dictionary_dango': {'name': 'Dango', 'year': 2019}, 'two_patient_dictionary_mochi': {'name': 'Mochi', 'year': 2018}}

- .d Manually create a dictionary that has a single level and contains each patient
    as the key and the year as the value. Set Mochi's year to 2019.'

In [16]:
two_d = {
    "Kinoko": 2021,
    "Dango": 2019,
    "Mochi": 2019
}
print(two_d)

{'Kinoko': 2021, 'Dango': 2019, 'Mochi': 2019}

- .e Coerce the keys of 2.d into a list

In [17]:
two_e = list(two_d.keys())
print(two_e)

['Kinoko', 'Dango', 'Mochi']

- .f Coerce the values of 2.d into a list

In [18]:
two_f = list(two_d.values())
print(two_f)

[2021, 2019, 2019]

- .g Use the zip function to combine 2.e and 2.f into a dictionary again

In [19]:
two_g = dict(zip(two_e, two_f))
print(two_g)

{'Kinoko': 2021, 'Dango': 2019, 'Mochi': 2019}

### Problem 3: Set combinations

Using:
- three_setA = {1,2,3,4,5}
- three_setB = {2,3,4,5,6}
- three_setC = {3,5,7,9}
- three_setD = {2,4,6,8}
- three_setE = {1,2,3,4}

In [20]:
three_setA = {1,2,3,4,5}
three_setB = {2,3,4,5,6}
three_setC = {3,5,7,9}
three_setD = {2,4,6,8}
three_setE = {1,2,3,4}

- .a Is set E a subset of set A

In [21]:
three_a = three_setE.issubset(three_setA)
print(three_a)

True

- .b Is set E a strict subset of set A

In [22]:
three_b = three_a and three_setE != three_setA
print(three_b)

True

- .c Create a set that is the intersection of set A and set B

In [23]:
three_c = three_setA.intersection(three_setB)
print(three_c)

{2, 3, 4, 5}

- .d Create a set that is the union of sets C, D and E

In [24]:
three_d = three_setC.union(three_setD, three_setE)
print(three_d)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

- .e add 9 to the set

In [25]:
three_e = three_d.copy()
three_e.add(9)
print(three_e)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

- .f Using == compare this set to the list in one_a

In [26]:
three_f = three_e == one_a
print(three_f)

False

- .g Explain why they are not the same. What would you need to change if you
    wanted this to be True?

In [27]:
three_g = 'three_e and one_a are different in two ways. 1) one_a has a 0 whereas three_e does not. 2) one_a is a list and three_e is a set. So, 0 would have to be added to three_e and converted to a list for them to be the same'
print(three_g)

three_e and one_a are different in two ways. 1) one_a has a 0 whereas three_e does not. 2) one_a is a list and three_e is a set. So, 0 would have to be added to three_e and converted to a list for them to be the same

### Problem 4: Changing variable types

For each step you will modify a variable, then append the type of the variable
to a list. Do not recreate the list variable, it should be a running list of 
types.

- .a Create a variable of type int with the value of 8
- .b Create an empty list 
- .c Using type(), add the type of 4.a to this list
- .d Add 0.39 to 4.c
- .e append the type of 0.39 to the list
- .f exponentiate to the -10, ie: 4.d^-10,(hint: there might be an artihmetic operator to do so) round it to no 
    decimal places, and append to list.
- .g append the type to the list

- .a Create a variable of type int with the value of 8

In [28]:
four_a = 8
print(four_a)

8

- .b Create an empty list

In [29]:
four_b = []
print(four_b)

[]

- .c Using type(), add the type of 4.a to this list

In [30]:
four_b.append(type(four_a))
print(four_b)

[<class 'int'>]

- .d Add 0.39 to 4.c

In [31]:
four_b.append(0.39)
print(four_b)

[<class 'int'>, 0.39]

- .e append the type of 0.39 to the list

In [32]:
four_b.append(type(0.39))
print(four_b)

[<class 'int'>, 0.39, <class 'float'>]

- .f exponentiate to the -10, ie: 4.d^-10,(hint: there might be an artihmetic operator to do so) round it to no 
    decimal places, and append to list.

In [33]:
four_b.append(round(0.39**-10))
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284]

- .g append the type to the list

In [34]:
four_b.append(type(round(0.39**-10)))
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>]

### Problem 5: More variable type changes

- .a Manually create a dictionary where the values are items in the list from where we left in 
    problem 4, and the keys should be their index in the list. Print the dictionary.
- .b Add 300 and coerce it into a string
- .c append the type to the list
- .d slice the string up to the 2nd element
- .e append the type to the list
- .f use list comprehension to convert this into a new list of integers
- .g append the type to the list
- .h append the type of three_setA to the list

- .a Manually create a dictionary where the values are items in the list from where we left in 
    problem 4, and the keys should be their index in the list. Print the dictionary.

In [35]:
five_a = dict(zip(list(range(len(four_b))), four_b))
print(f'five_a: {five_a}')

five_a: {0: <class 'int'>, 1: 0.39, 2: <class 'float'>, 3: 12284, 4: <class 'int'>}

- .b Add 300 and coerce it into a string

In [36]:
five_b = str(300)
four_b.append(five_b)
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300']

- .c append the type to the list

In [37]:
four_b.append(type(five_b))
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300', <class 'str'>]

- .d slice the string up to the 2nd element

In [38]:
five_d = five_b[:2]
print(five_d)

30

- .e append the type to the list

In [39]:
four_b.append(type(five_d))
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300', <class 'str'>, <class 'str'>]

- .f use list comprehension to convert this into a new list of integers

In [40]:
five_f = [int(x) for x in five_d]
print(five_f)

[3, 0]

- .g append the type to the list

In [41]:
four_b.append(type(five_f))
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300', <class 'str'>, <class 'str'>, <class 'list'>]

- .h append the type of three_setA to the list

In [42]:
four_b.append(type(three_setA))
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300', <class 'str'>, <class 'str'>, <class 'list'>, <class 'set'>]